@font-face {
	font-family: 'Calistoga'; 
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('assets/fonts/Calistoga-Regular.woff2') format('woff2');
}

body{
margin:0;
padding:0;
background-color: #fff;
color: #444;
font-family: 'Calistoga', serif;
}
main{
    &.content{
        padding: 1rem 2rem;
        h1, h2, h3, h4, h5, h6{
            color:#2C1544;
        }
    }
}
