@font-face {
	font-family: 'Calistoga'; 
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('../assets/fonts/Calistoga-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Vollkorn'; 
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../assets/fonts/Vollkorn-Regular.woff2') format('woff2');
}

body{
margin:0;
padding:0;
background-color: #fff;
color: #444;
font-family: 'Vollkorn', serif;
}

a{
    color: #2C1544;
    text-decoration: none;
    &:hover{
        border-bottom: dashed .2em  #FDDD4E;
    }
}
main{
    &.content{
        padding: 1rem 2rem;
        h1, h2, h3, h4, h5, h6{
            color:#2C1544;
            font-family: 'Calistoga', serif;
        }
    }
}

.navbar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2C1544;
    height: 25px;
    padding: 5px;
    text-align: center;
    border-top: solid 2px  #FDDD4E;
}

#code{
    display: none;
    position: fixed;
    bottom: 35px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f9f9f9;
    padding: 2em;
    &.active{
        display: block;
    }
}
.code-nav{
    position: fixed;
    z-index: 1000;
    bottom: 0;
    right: 10px;
}
#show-code{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #2C1544;
    &:hover{
        background-color: #49266e;
    }
}
