@charset "UTF-8";
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  scroll-padding-top: 60px;
}

body {
  background-color: #f8f8f8;
  font-family: "Vollkorn", serif;
  color: #444;
  padding: 0;
  margin: 0;
}

.purple {
  fill: #2C1544;
}

.purplestroke {
  stroke: #2C1544;
  stroke-width: 1.5;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.purplestroke.nofill {
  fill: none;
}

.yellow {
  fill: #FDDD4E;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.row.top {
  margin-top: 5rem;
}

.col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px !important;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px !important;
  }

  .hide-lg {
    display: none;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}
@media (max-width: 768px) {
  .hide-md {
    display: none;
  }
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.5rem;
}
.card.comments {
  margin-top: 1em;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-title {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  border-radius: 0 0 0.5rem 0.5rem;
  border-top: solid 1px #0000000f;
}

.header {
  background-color: #fff;
  margin-bottom: 3em;
  padding-top: 3em;
}
.header.home {
  padding-top: 25vh;
  height: 100vh;
}
.header h1 {
  font-family: "Calistoga", serif;
  font-size: 3em;
  margin-bottom: 0.1em;
  color: #2C1544;
}
.header p, .header a {
  font-size: 1.2em;
  border-radius: 0.1em;
  color: #2C1544;
  display: inline-block;
  background-color: #FDDD4E;
  padding: 0.4em 1em;
}
.header a:hover {
  background-color: #2C1544;
  color: #FDDD4E;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 2em;
  }
  .header p {
    font-size: 0.9em;
  }
}
.featured-img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

img.loaded {
  transition: all 0.5s ease;
}

.main-content {
  border-radius: 10px;
  width: 100%;
  max-width: 66.666%;
  flex: 66.666%;
  margin-bottom: 1em;
}

.content-author,
.content-author a {
  font-size: 1em;
  color: #444;
}

.content-title {
  font-family: "Calistoga", serif;
  color: #2C1544;
  font-size: 2rem;
}

.content img,
.content video {
  border-style: none;
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
.content img.icon,
.content video.icon {
  display: inline;
  border-radius: 0.2em;
}
.content a {
  color: #2C1544;
}
.content a:hover {
  color: #1a1336 !important;
  background: #ffff005c;
  border-bottom: solid 1px #FDDD4E;
}
.content a::after {
  content: " ↗";
  font-family: "Identips", sans;
}

iframe.content {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.08);
}

.post {
  font-size: 1.2em;
  line-height: 1.8em;
}
.post h2,
.post h3,
.post h4,
.post h5,
.post h6,
.post h2 a,
.post h3 a,
.post h4 a,
.post h5 a,
.post h6 a {
  font-family: "Calistoga", serif;
  margin-top: 1.5em;
  margin-bottom: 0.25em;
  color: #2C1544;
}
.post h2 {
  font-size: 1.6rem;
}
.post h3 {
  font-size: 1.4rem;
}
.post h2::after,
.post h3::after {
  content: "";
  max-width: 8vh;
  display: block;
  height: 0.25em;
  background: #FDDD4E;
  margin-top: 2px;
}
.post h4 {
  font-size: 1.3rem;
}
.post h5,
.post h6 {
  font-size: 1.2rem;
}

.tags {
  padding: 0.25em 0.5em;
  border: solid 1px #2C1544;
  margin: 0.25em 0.5em 0.25em 0;
  border-radius: 5px;
  color: #2C1544;
  display: inline-flex;
}
.tags a {
  color: #2C1544;
}
.tags:hover {
  background-color: #FDDD4E;
}

.main-sidebar {
  max-width: 33.333%;
  flex: 33.333%;
  margin-bottom: 1em;
}

.stickysidebar {
  position: sticky;
  top: 75px;
  margin-bottom: 1em;
}

.widget-header {
  font-family: "Calistoga", serif;
  font-weight: 700;
  font-size: 16px;
  color: #2C1544;
  border-bottom: solid 1px #FDDD4E;
  display: flex;
  align-items: center;
}

#TableOfContents {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
}
#TableOfContents a {
  display: block;
}

.widget {
  font-size: 0.9em;
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.widget ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.widget .new-post-item {
  border: none;
  display: flex;
  position: relative;
}
.widget .new-post-item:hover {
  background: #FDDD4E;
  color: #2C1544;
}
.widget .new-post-item img {
  border-radius: 0.2em;
}

.widget a {
  color: #444444;
  padding: 0.75rem 1.25rem;
}

.widget a:hover,
.widget a.active {
  color: #2C1544 !important;
  background-color: #FDDD4E !important;
}

.new-post-title {
  margin-left: 1em;
  flex: 3;
}

.new-post-title .int-content-author {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .main-sidebar {
    margin-top: 0;
  }

  .col.main-content, .col.main-sidebar {
    flex: 100%;
    max-width: 100%;
  }

  #sidebar {
    position: fixed;
    padding: 15px;
    top: 56px;
    bottom: 40px;
    right: -100%;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: auto;
    transition: right 0.5s, opacity 0.5s;
    opacity: 0;
  }
  #sidebar.active {
    opacity: 1;
    right: 0;
    transition: right 0.5s, opacity 0.5s;
  }
  #sidebar .widget {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }

  .searchbar {
    max-width: 80%;
  }

  footer {
    margin-bottom: 65px;
  }
}
@media (min-width: 768px) {
  .main-content .card-body {
    padding: 1.5rem 3rem;
  }
}
#disqus-container {
  padding: 1.5rem;
}

#disqus-comments {
  min-width: 95%;
  text-align: center;
}

.postgrid {
  margin-bottom: 1.5rem;
  display: flex;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.postgrid .card {
  border-radius: 10px;
  border: none;
}
.postgrid .card:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.postgrid .card-title a {
  font-family: "Calistoga", serif;
  font-size: 1em;
  color: #252525;
}
.postgrid .card-title a:hover {
  color: #652f8f;
}
.postgrid .card-body {
  padding: 0.75rem 1.25rem;
}
.postgrid .card-text {
  font-size: 1em;
  line-height: 1.5em;
}
.postgrid .card-footer {
  font-size: 13px;
  text-align: center;
}
.postgrid button {
  margin: 0;
  width: 70%;
}

@media (min-width: 768px) {
  .postgrid {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  .postgrid {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
.pagination {
  font-family: "Calistoga", serif;
  justify-content: space-between;
  display: flex;
  padding: 0.5rem;
  list-style: none;
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 1em;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  max-width: 540px;
}
.pagination:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.page-item {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.page-item .disabled .page-link {
  pointer-events: none;
  color: #cecece;
  border-color: #cecece;
}
.page-item .disabled .page-link:hover {
  background-color: transparent;
}

.page-link,
.page-name {
  margin: 0.25em;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-link {
  width: 40px;
  border-radius: 50%;
  color: #2C1544;
  border: solid 1px #2C1544;
}
.page-link:hover {
  background-color: #FDDD4E;
}

a {
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

button {
  font-family: "Calistoga", serif;
  font-size: 16px;
  color: #2C1544;
  height: 40px;
  border-radius: 10px;
  border: solid 1.5px #2C1544;
  background: #fff;
  padding-left: 1em;
  padding-right: 1em;
}
button.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}
button:hover {
  background: #FDDD4E;
}

form, input, button {
  font-family: "Vollkorn", serif;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 0.9em;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}

table {
  border-collapse: collapse;
}
table td, table th {
  padding: 0.75rem;
  vertical-align: top;
}
table th {
  border-top: 0.15em solid #FDDD4E;
  font-size: 1.5rem;
  font-family: "Calistoga", serif;
  text-align: initial;
}
table td {
  border-top: 1px solid;
  font-size: 1rem;
  line-height: 1.5em;
}

textarea {
  font-family: inherit;
  overflow: auto;
  resize: vertical;
}
textarea.form-control {
  height: auto !important;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #2C1544;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #2C1544;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #FDDD4E;
}

.form-group {
  margin-bottom: 1rem;
}

.alert {
  padding: 1em;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  line-height: 1.5em;
  font-size: 0.8em;
  border: solid 0.1em #FDDD4E;
}
.alert::before {
  font-size: 3.5em;
  color: #FDDD4E;
  font-family: "Identips", serif;
  padding: inherit;
  padding-left: 0;
}
.alert.info::before {
  content: "🛈";
}
.alert.warning::before {
  content: "⚠";
}

.logotext {
  font-family: "Identips", serif;
}
.logotext::after {
  content: "⚡";
}

.texticon {
  font-family: "Identips", serif;
  font-size: 1.8em;
  vertical-align: middle;
  color: #FDDD4E;
}
.texticon.true::before {
  content: "⛔";
}
.texticon.false::before {
  font-family: "Identips", serif;
  content: "⚠";
  font-size: 1.3em;
  vertical-align: middle;
}

.ads {
  margin: 1em auto;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.5rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-title {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  border-radius: 0 0 0.5rem 0.5rem;
  border-top: solid 1px #0000000f;
}

.navbar {
  font-family: "Calistoga", serif;
  display: flex;
  align-items: center;
  height: 56px;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  font-size: 16px;
  cursor: context-menu;
  z-index: 1050;
  background-color: #ffffff;
}
.navbar::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
  z-index: -1;
}
.navbar.top {
  top: 0;
}
.navbar.top .item {
  display: flex;
  align-items: center;
}
.navbar.top .nav-link {
  border-radius: 2rem;
}
.navbar.top .nav-link:hover {
  background: #FDDD4E;
}
.navbar.bottom {
  display: none;
  bottom: 0;
}
.navbar.bottom .item {
  text-align: center;
  line-height: 0.8em;
}
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar ul {
  list-style: none;
}

.navbar-logo {
  margin-top: 0.25em;
}

.nav-item {
  padding: 0rem 0.5rem;
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #2C1544;
}

#NavbarMenu {
  display: none;
}

.mobile-nav-text {
  font-family: Arial, Helvetica, sans-serif;
  color: #2C1544;
  font-size: 0.7em;
}

@media (max-width: 768px) {
  .navbar.bottom {
    display: flex;
  }

  #NavbarMenu {
    display: block;
  }

  #NavbarMenuItem {
    display: block;
    width: 100%;
    position: fixed;
    top: 56px;
    bottom: 0;
    margin: 0;
    right: -100%;
    overflow: hidden;
    background-color: #fff;
    transition: right 0.5s, opacity 0.5s;
    opacity: 0;
    z-index: -2;
  }
  #NavbarMenuItem.show {
    right: 0;
    opacity: 1;
    transition: right 0.5, opacity 0.5s;
  }
  #NavbarMenuItem .nav-link {
    margin-top: 0.5em;
  }

  #SearchButton {
    display: none !important;
  }

  .searchbar {
    max-width: 80% !important;
  }
}
#SearchContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #ffffff;
  opacity: 0;
  transition: opacity 1s, visibility 1s, z-index 1s;
}

.fixed .searchbar {
  position: fixed;
  top: 100px;
}

.searchform-container {
  display: flex;
  justify-content: center;
  height: 100px;
}

.searchbar {
  height: 60px;
  border: solid 1.5px #2C1544;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  padding: 10px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 750px;
}

.search_input {
  font-size: 1em;
  color: #2C1544;
  border: 0;
  outline: 0;
  background: none;
  line-height: 40px;
  transition: width 0.4s linear;
  padding: 0 15px;
  width: 80%;
  padding-left: 15px;
  caret-color: #FDDD4E;
}
.search_input:required {
  box-shadow: none;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  background: #fff;
  border: solid 1.5px #2C1544;
  margin: 0;
}
.search_icon:hover {
  background: #FDDD4E;
}

.show-searchbar {
  z-index: 1010 !important;
  opacity: 1 !important;
}

.newsletter {
  text-align: center;
  background-repeat: no-repeat;
  border-radius: 0.5em;
  background-color: #fff;
  color: #2C1544;
  padding: 2em;
  font-size: 1em;
}
.newsletter h3 {
  font-family: "Calistoga", serif;
  font-size: 2em;
  margin: 0 0 0.5em 0;
}
.newsletter form {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.newsletter input {
  height: 3em;
  border-radius: 0.5em;
  border: solid 1px #2C1544;
  width: 100%;
  padding: 0 1em;
  margin: 0 0.25em;
}
.newsletter input[type=submit] {
  border: none;
  background: #FDDD4E;
  color: #2C1544;
  max-width: 25%;
}
.newsletter input[type=submit]:hover {
  background: #FDDD4E;
}

@media (min-width: 768px) {
  .newsletter.home {
    background-color: #2C1544;
    color: #fff;
    font-size: 1em;
    border-radius: 0;
    margin-bottom: 0;
  }
  .newsletter.home input {
    border: none;
  }
}
footer {
  border-top: solid 1px #00000011;
  margin-top: 0;
  padding-bottom: 1em;
}
footer .container {
  margin-top: 0.3em;
  text-align: center;
}

#footer-nav {
  justify-content: center;
  padding: 0;
  font-size: 0.9em;
  display: flex;
  list-style: none;
}
#footer-nav a {
  text-align: center;
  padding: 0.5em 0.9em;
}
#footer-nav a:hover {
  color: #652f8f;
  text-decoration: underline dashed #FDDD4E;
}

body[data-theme=dark] * {
  color: #d1cbe6;
}

body[data-theme=dark] {
  background-color: #1a1336 !important;
}

[data-theme=dark] .header,
[data-theme=dark] .pre,
[data-theme=dark] .pagination .page-link,
[data-theme=dark] #sidebar,
[data-theme=dark] #int-background-loader,
[data-theme=dark] #SearchContainer,
[data-theme=dark] .search_icon,
[data-theme=dark] button {
  background-color: #1a1336 !important;
  color: #d1cbe6 !important;
}
[data-theme=dark] .navbar::after,
[data-theme=dark] .card,
[data-theme=dark] .widget-header,
[data-theme=dark] .widget .nav-link,
[data-theme=dark] #TableOfContents a,
[data-theme=dark] .list-group-item,
[data-theme=dark] .table,
[data-theme=dark] .int-postgrid .card-footer,
[data-theme=dark] .navbar::after,
[data-theme=dark] .newsletter, [data-theme=dark] .pagination {
  background-color: #2b244b !important;
  color: #d1cbe6 !important;
}
[data-theme=dark] .post-content,
[data-theme=dark] .post-content a:hover,
[data-theme=dark] .navbar a, [data-theme=dark] .navbar.top a, [data-theme=dark] #footer-nav a {
  color: #d1cbe6 !important;
}
[data-theme=dark] .post-content h2,
[data-theme=dark] .post-content h3,
[data-theme=dark] .post-content h4,
[data-theme=dark] .post-content h5,
[data-theme=dark] .post-content h6,
[data-theme=dark] .post-content a,
[data-theme=dark] .new-post-item,
[data-theme=dark] pre,
[data-theme=dark] .header h1,
[data-theme=dark] .content-author,
[data-theme=dark] .content-author a,
[data-theme=dark] .content-title,
[data-theme=dark] .desktop-nav .nav-item a,
[data-theme=dark] .mobile-nav-text,
[data-theme=dark] .postgrid .card-title a,
[data-theme=dark] .navbar, [data-theme=dark] footer, [data-theme=dark] a.tags {
  color: #d1cbe6 !important;
}
[data-theme=dark] .pagination li a:hover,
[data-theme=dark] .desktop-nav .nav-item a:hover,
[data-theme=dark] .widget .nav-link:hover,
[data-theme=dark] #TableOfContents a:hover,
[data-theme=dark] #TableOfContents a.active,
[data-theme=dark] .new-post-item:hover,
[data-theme=dark] .search_icon:hover,
[data-theme=dark] button:hover,
[data-theme=dark] .postgrid .card-title a:hover, [data-theme=dark] a.tags:hover {
  color: #d1cbe6 !important;
  background-color: #403864 !important;
}
[data-theme=dark] .navbar.top a:hover {
  color: #2b244b !important;
}
[data-theme=dark] .purple {
  fill: #d1cbe6 !important;
}
[data-theme=dark] .yellow {
  fill: #FDDD4E !important;
}
[data-theme=dark] .purplestroke {
  stroke: #FDDD4E !important;
}
[data-theme=dark] footer,
[data-theme=dark] .pagination .page-link,
[data-theme=dark] .widget-header, [data-theme=dark] .tags, [data-theme=dark] #searchbar, [data-theme=dark] .search_icon {
  border-color: #5b5188 !important;
}

@media (max-width: 768px) {
  body[data-theme=dark] #NavbarMenuItem {
    background: #2b244b !important;
  }
}

/*# sourceMappingURL=main.css.map */
