<!DOCTYPE html>
<html lang="id">
    {%- include head.html -%}
    <body>
     {% include nav.html %}
    <main class="content" aria-label="Content">
        <div>
            {{ content }}
        </div>
    </main>
    <div class="code-nav">
        <div id="show-code" onclick="showCode()">
            <svg height="30"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 100 100" >
                <g fill="none" stroke="#FFFFFF" stroke-width="8" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" >
               <polyline points="55.225,39.525 69.445,50 55.225,60.475"/>
               <polyline points="44.775,60.475 30.555,50 44.775,39.525"/>
                </g>
             </svg>
        </div>
    </div>
        <script>
        function showCode(){
            document.getElementById('code').classList.toggle('active')
        }
    </script>
    </body>
</html>
